$base-color: #dedede;
$max-width-placeholder: 504px;

.placeholder {
  padding: 9px 0;
  max-width: $max-width-placeholder;

  &__row {
    position: relative;
    background-color: $base-color;
    border-radius: 4px;
    height: 14px;

    &:hover {
      cursor: wait;
    }

    &:first-child {
      max-width: 65%;
    }

    &:nth-child(2) {
      max-width: $max-width-placeholder;
    }

    &:nth-child(3) {
      max-width: 50%;
    }

    &:not(:first-child) {
      margin-top: 8px;
    }
  }
}
