.button {
  background: #31AE54;
  border-radius: 5px;
  max-width: 270px;
  width: 100%;
  padding: 11px 0;
  transition: all 0.1s linear;

  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.15000000596046448px;
  text-align: center;

  &:hover {
    background: #2ea043;
  }

  &.green {
    background: #31AE54;
  }

  &.green:hover {
    background: #2ea043;
  }

  &.grey {
    background: #9E9E9E;
  }

  &.grey:hover {
    background: #2ea043;
  }

  &.loading {
    background: #9E9E9E;
    cursor: wait;
  }
  &.loading:hover {
    background: #9E9E9E;
  }

  &.disabled {
    background: #9E9E9E;
    pointer-events: none;
    user-select: none;
  }

  &.hover-text:hover:after {
    font-size: inherit;
  }

  &.hover-text::after {
    content: attr(data-hover-text);
    font-size: 0;
  }

  &.hover-text:hover &__text {
    font-size: 0;
  }
}

.button__preloader {
  color: #fff;
  margin: 0 auto;
  width: 22px;
  height: 22px;
  border-top: 2px solid currentColor;
  border-right: 2px solid transparent;
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}
