.stats {
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(27, 31, 35, 0.12);
  min-height: 28px;

  &__name {
    color: #24292E;
  }

  &__icon {
    width: 14px;
    color: #586069;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 12px;
  }

  &__border-right {
    border-right: 1px solid rgba(27, 31, 35, 0.12);
  }
}
