.stories {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.logo {
  color: #292929;
}

.posts {
  &-container {
    width: 980px;
    margin: 32px auto 0;
  }

  &__item {
    margin-bottom: 24px;
  }
}
