.c-topline {
  background: #fafafa;
  border-bottom: 1px solid #c6c6c8;
  padding: 48px 0 38px;
}

.content {
  margin-top: 42px;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
